@page
@model SphinxTask.Pages.Product.EditModel

<form method="post">
    <input hidden asp-for="products.PId"/>
    <div class="form-group">
        <label asp-for="products.PName"></label>
        <input asp-for="products.PName" class="form-control" />
        <span asp-validation-for="products.PName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group mb-3">
        <label asp-for="products.Discription"></label>
        <input asp-for="products.Discription" class="form-control"/>
        <span asp-validation-for="products.Discription" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="products.IsActive"></label>
        <select asp-for="products.IsActive" class="form-control">
           <option value="true">Active</option>
            <option value="false">Not Active</option>
        </select>
        <span asp-validation-for="products.IsActive" class="text-danger"></span>
    </div>
    <br />

    <button  type="submit" class="btn btn-success">Edit</button>
    </form>
    <br />
    <a asp-page="/Product/Index" type="submit" class="btn btn-success">Back To Products</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}